/* Font family = "Open Sans" */
/* Colour scheme = teal (#00b9bd), dark teal (#f63700) and orange (#fb6900) */
@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 700;
}

/* Dark mode work in progress */
/*
* {
    --main_colour_light: #00b9bd;
    --accent_colour1_light: #fb6900;
    --accent_color2_light: #f63700;

    --main_colour_dark: #00686b;
    --accent_color1_dark: #6b2c00;
    --accent_color2_dark: #6b1700;
}

.theme-switch {
    --background_image: url("background_image_day.png");

}
*/

.top_nav {
    background-color: var(--main_colour_light);
    overflow: hidden;
    border-radius: 0.3em;
}

.top_nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Open Sans Light";
}

.top_nav a:hover {
    background-color: var(--accent_colour1_light);
}

.top_nav a.active {
    background-color: var(--accent_color2_light);
}

.top_nav_right {
    float: right;
}

body {
    background-image: url("background_image_night.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2700px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Open Sans Light";
}

h2 {
    color: white;
    text-align: center;
    font-family: "Open Sans Bold";
}

p {
    color: white;
    text-align: center;
    font-family: "Open Sans Light";
}

button {
    border: none;
    background-color: var(--main_colour_light);
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans Light";
    font-size: xxx-large;
    letter-spacing: 10px;
    margin: 4px 4px;
    border-radius: 0.3em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent_colour1_light);
    padding: 20px 40px;
}

.container {
    width: 100%;
    float: left;
}

.video-center-align {
    max-width: 640px;
    max-height: 370px;
    margin-right: auto;
    margin-left: auto;
}

.center-align {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ig-container {
    display: flex;
    justify-content: center;
}
