/*

Basic stylesheet.

The code is adapted from worksheet "co1111-worksheet-3-Intro to CSS.pdf".

 */

* {
    /*font-family: "Arial", Arial, sans-serif;*/
    /*TODO*/
}

.app_navi {
    /* all app navigation links*/
    border: 1px darkgray solid;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
}

ul #challenges, li {
    /*
    all challenges list items
    help:
    https://www.w3schools.com/css/css_list.asp
    */
    list-style-type: none;
    margin: 15px;
}

/*

2022.02.15
created

*/